/*body {
	background-color: red; 
}	*/

/*Comment goes here*/

main {
	width: 960px;
	margin: 0 auto;
	background-color: #999999;
	padding: 10px;
}

.tip {
	padding: 10px;
	padding-left: 40px;
	position: relative; /* start relative positioning */
	left: -20px; /* shift it 20 pixels left */
	margin-bottom: 20px;
}

.info {
	background-color: #00b9ff;
}

.warning {
	background-color: red;
}

.unreleased {
	background-color: yellow;
}


.tip i { /* Icon*/
	font-size: 24px; /* make bigger */
	position: absolute; /* make absolute */
	top: 30px; /* 32px from top. NOTE: the top is the top edge of the 1st Relative positioned element above it ie the .info-tip div above */
	left: 11px;
}

.warning i {  /* small reposition of the ! warning icon */
	left: 17px;
}

.feature {
	background-color: white;
	width: 300px;
	padding: 10px;
	position: relative; /* so that absolute below works */
	padding-top: 30px; /* to push Heading down below img */
	margin-top: 80px;  /* to move feature div down so not covering the text above */
}

.feature img {
	position: absolute;
	top: -60px;
	left: calc(50% - 50px);
	border-radius: 50%; /* make img into a circle ie radius = 50% in square img = */
	box-shadow: 0 5px 10px 0 rgba(0,0,0,.3);

}

.post {
	background-color: white;
	width: 66.666%;
	padding: 10px;
	margin-top: 20px;
	position: relative; /* to allow absolute below to work properly */
}

.post time { /* Absolute positioning */
	position: absolute; 
	right: 10px;
	top: 10px;

}






