/*body {
	background-color: red; 
}	*/

body {
	padding-top: 70px; /* pading to push content ie H1 onwards go below nav bar */
}

nav {  /* fixed pos nav */
	background-color: #333333;
	color: white;
	position: fixed; /* Make nav bar stick to top*/
	right: 0; /* Make nav stretch to right side of screen ie 0 pix from right */
	left: 0; /* Make nav stretch to left side of screen ie 0 pix from left */
	top: 0; /* Make nav stretch to top of browser of screen ie 0 pix from top */

}

nav img:first-child {
	float: left;
}

nav li {
	display: inline-block;
}

nav ul {
	float: left;
}

nav img:last-child {
	float:right;
}

nav:after {   /* Clearfix */
  	content: "";
	display: block;
	clear: both;
}

#social-bar {
	height: 150px;
	background-color: orange;
	width: 50px;
	position: fixed;
	top: calc(50% - 75px); /* put it half-way between top & bottom of the SCREEN usually based on top of the social-bar container but here uses calc to adjust */
	right: 20px; /* sits Left of screen by default and we have shifted to Right here inwards 20px */
	}
















